* {
    margin: 0;
    padding: 0;
    outline: 0;
}

a{
    text-decoration: underline;
}

input{
    background-color: #fff !important;
    border-radius: 30px !important;
    opacity: 0.9;
    color: #000;
}

.main{
    background:rgba(255,255,255,0.5);
    padding: 15px;
    border-radius: 0 0 20px 20px;
}

.btn{
    border-radius: 10px !important;
}

.ml-10{
    margin-left: 5px;
}

.ml-10{
    margin-left: 10px;
}

.w-70{
    width: 70%;
}

.w-80{
    width: 80%;
}

.w-90{
    width: 90%;
}