* {
    margin: 0;
    padding: 0;
    outline: 0;
}

html, body{
    /* background-image: url('../../public/img/background.png'); */
    background-color: #fff;
}

a{
    text-decoration: none;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content:center;
    width: 80%;
}

.search{
    width: 100%;
}

.btn-search{
    border-radius: 20px;
    padding: 5px 20px;
}

.ml-10{
    margin-left: 5px;
}

.ml-10{
    margin-left: 10px;
}
